@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Nunito', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--- CSS reset ---*/

:root {
  --lime-300: #bef264;
}

body {
  display: grid;
  height: 100vh;
  justify-content: center;
  grid-template-rows: min-content 1fr 2fr;
  gap: 1rem;
  background-color: var(--lime-300);
}

.title h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.info {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.info span {
  color: white;
}

.board-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 3px;
  background-color: black;
  width: min-content;
  height: min-content;
}

.board button {
  background-color: var(--lime-300);
  border: 0;
  font-size: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}